
body {
    background-size: cover;
    font-family: Montserrat;
}

img {
	width:100%;
	height:100%;
	object-fit: logo;
}
div {
	align: center;
}
td {
	text-align: center;
}
.parametrit {
	
	width: 22px;
    height: 22px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Montserrat;
	margin-bottom: 20px;
	outline: none;
}
.roskis{
	margin-left: 5px;
	width: 40px;
	height: 30px;
}
.refresh{
	margin-left: 5px;
	width: 30px;
	height: 30px;
}
.logo {
	align: center;
    width: 150px;
    height: 150px;
    margin: 2px auto;
}
.wow {
	align:center;
	width:800px;
	height: 250px;
	margin:2px auto;
}
.photo {
	align: center;
    width: 600px;
    height: 400px;
    margin: 2px auto;
}
.hakut {
	
	font-weight:bold;
	font-family: Montserrat;
	font-size: 14px;
}

.login-block {
    width: 800px;
	height: 900px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #000D2F;
	border-bottom: 5px solid #00000;
    margin: 0 auto;
}
.login-block p{
	align: center;
	color: #000D2F;
	font-family: Montserrat;
	font-size: 16px;
	font-weight:bold;
}

.login-block h1 {
    text-align: center;
	color: #000D2F;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 60px;
	border: 2px solid #00000;
	font-weight: bold;
    font-family: Montserrat;
    
}
.login-block h3 {
    text-align: center;
    color: #000D2F;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.login-block input{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('https://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('https://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('https://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('https://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}


.login-block input:active, .login-block input:focus {
    border: 1px solid #00227c;
}
.praat{
	width:100%;
	
}
#idp{
	width: 25%;
	height: 20px;
	margin-left: 57px;
	margin-bottom: 2px;
}
#pvmp{
	width: 25%;
	height: 20px;
	margin-bottom: 2px;
}
#myCheckbox{
	width: 20px;
	height: 20px;
	margin-left: 2px;
	margin-right: 5px;	
}

#haku:hover{
	background: #00227c;
}
#lisaa:hover{
	background: #00227c;
}
#lisays:hover{
	background: #00227c;
}
#poista:hover{
	
	background: #00227c;
}
#poista{
	width: 15%;
	margin-left: 432px;
    height: 25px;
    background: #000D2F;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #00000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
#logout:hover{
	background: #00227c;
}
#etusivu:hover {
    background: #00227c;
}
#kirjaudu:hover {
    background: #00227c;
}

.Etu {
	align: center;
}

.button {
    width: 100%;
    height: 40px;
    background: #000D2F;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #00000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}
.button2 {
    width: 15%;
	margin-left: 102px;
    height: 25px;
    background: #000D2F;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid #00000;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
	text-decoration: none;
}



